<div class="bg-base-100 border rounded-xl shadow-sm">

    <div class="overflow-x-auto">

        <table class="table table-zebra w-full">

            <thead class="bg-base-200 text-base-content">
                <tr>
                    <th class="px-6 py-3">Name</th>
                    <th class="px-6 py-3 hidden sm:table-cell">Email</th>
                    <th class="px-6 py-3">Membership</th>
                    <th class="px-6 py-3">Expiry</th>
                    <th class="px-6 py-3 text-right">Actions</th>
                </tr>
            </thead>

            <tbody>

                <!-- Empty -->
                <tr *ngIf="members.length === 0">
                    <td colspan="4" class="text-center py-12 text-base-content/60">
                        No members found
                    </td>
                </tr>

                <!-- Rows -->
                <tr *ngFor="let member of members; trackBy: trackById" class="cursor-pointer hover"
                    (click)="select(member)">

                    <td class="px-6 py-3 font-medium">
                        {{ member.name }}
                    </td>

                    <td class="px-6 py-3 text-base-content/70 hidden sm:table-cell">
                        {{ member.email }}
                    </td>

                    <td class="px-6 py-3">
                        <span class="badge" [ngClass]="{
                'badge-primary': member.membershipType === 'Premium',
                'badge-outline': member.membershipType === 'Basic'
              }">
                            {{ member.membershipType }}
                        </span>
                    </td>

                    <td class="px-6 py-3" [class.text-error]="isExpired(member.expiryDate)">
                        {{ member.expiryDate | date }}
                    </td>
                    <td class="px-6 py-3 text-right space-x-2">

                        <button class="btn btn-xs btn-outline" (click)="$event.stopPropagation(); edit.emit(member)">
                            Edit
                        </button>

                        <button class="btn btn-xs btn-error btn-outline"
                            (click)="$event.stopPropagation(); delete.emit(member)">
                            Delete
                        </button>

                    </td>

                </tr>


            </tbody>

        </table>

    </div>

</div>